APP_ADDR=':8080'
MYSQL_DSN='musicflow_user:change_me@tcp(127.0.0.1:3306)/musicflow?charset=utf8mb4&parseTime=true&loc=Local'
APP_CORS_ORIGINS='http://localhost:3000,http://127.0.0.1:3000,http://localhost:8080,http://127.0.0.1:8080'
MUSICFLOW_TOKEN_SECRET='change_this_to_a_long_random_secret'
MUSICFLOW_ADMIN_USERNAME='admin'
MUSICFLOW_ADMIN_PASSWORD=''
MUSICFLOW_ADMIN_NAME='管理员'
MUSICFLOW_DEMO_PASSWORD=''
MUSICFLOW_UPDATE_MANIFEST='/opt/musicflow/releases/manifest.json'
JCMALL_API_BASE_URL=''
JCMALL_API_TOKEN=''
GEQUBAO_COOKIE=''
